<h1>Welcome to Muslim Connect!</h1>
<h3>
    A message board for the discussion
    of all things Islam.
</h3>                                     

<div class="links">
            
</div>
<footer>
  <h6>Powered by Ruby on Rails</h6>
</footer>