<h1>Welcome to Muslim Connect!</h1>
<h3>
    A message board for the discussion
    of all things Islam.
</h3>

<div class="links">
  <div>
    <%= link_to "Dashboard", dashboard_path %>
  </div>
  <div>
    <%= link_to "Discussion", posts_path %>
  </div>
  <div>
    <%= link_to "Community Guidelines", rules_path %>
  </div>
  <div>
    <%= link_to "Learn More", info_path %>
  </div>
</div>
<footer>
  <h6>Powered by Ruby on Rails</h6>
</footer>