<h3>Admin Editing Guidelines </h3>
<p>
  This website (when completed) will allow users</br>
  to edit and make additions to only their own </br>
  posts . More Importantly it will allow Admins </br>
  to censor and edit any posts found to contain </br>
  content standing In violation of our Community</br>
  Guidelines and Standards of Conduct.</br></br>
  
  <p>See <%= link_to "Rules and Guidelines", rules_path %></p>
  
  We do not want to prevent people from</br>
  genuine discussion. This privelage will</br>
  allow us to censor or delete ONLY for reasons</br>
  Such as Profanity, Personal Insults, and</br>
  speech which is generally considered to</br>
  be haram, or otherwise inappropriate. </br>
  Without needing to remove the post in </br>
  It's entirety if it has legitimate info,</br>
  arguments, inquiries or anecdotes. </br></br>

  If the post has no merit at all; </br>
  Meaning it was either posted in </br>
  bad faith, or the entire content </br>
  of the post stands in violation of</br>
  our community standards, than said</br>
  Post should be deleted rather than</br>
  Edited. </br>

  NOTE: Under no circumstances should</br>
  the contents of any post be outright</br>
  altered, or censored in such a way </br>
  that changes the original meaning of</br>
  the post. Any admin found to be doing</br>
  So intentionally will be repremanded</br>
  And repeat offenders will be stripped</br>
  Of their administrative privelages. </br>

  Always remember that the duty of our </br>
  Admins Is to keep the site safe from </br>
  Those With malicious Intentions, and </br>
  to ensure all discussions remain halal.</br>
  Our duty is not to be thought police, </br> 
  And people should never be censored </br>
  due to disagreements or 'wrong-think'.</br></br>
  
  There are very specific exceptions </br> 
  Detailed in the community guidelines </br>
  Such as attempts to promote or justify </br>
  Sin/haram. Or attempts to critize the </br>
  Prophet Muhammad, Peace be upon him. </br>
  Such restrictions are required in order </br>
  To ensure this remains a safe place for</br>
  Muslims. </br></br>
</p>
<h4> 
  Please Refer to our community guidelines</br>
  For more information on the standards for</br>
  What is or is not allowed, and what would</br>
  constitute a need for censorship or deletion</br>
</h4>1